<?xml version="1.0" encoding="US-ASCII" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">1111</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <property name="show_sql">true</property>

        <mapping class="by.home.zoo.entity.SupplyStorage"/>
        <mapping class="by.home.zoo.entity.BankAccount"/>
        <mapping class="by.home.zoo.entity.Accountant"/>
        <mapping class="by.home.zoo.entity.Zoo"/>
    </session-factory>
</hibernate-configuration>